<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="en-US">


<style>

img{
  width: 1900px;
}


</style>

	<head>
		

 



    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="initial-scale=1.0" name="viewport"/>
    <meta content="7MiYjX2ZghMOWvtKRWlar--c6mD2ose5EcbQFQ6szFA" name="google-site-verification"/>
    
    <title>Counseling and Psychological Services (CAPS)</title>
    <meta content="University of California, San Diego" name="ORGANIZATION"/>
    <meta content="index,follow,noarchive" name="robots"/>
    <meta content="CAPS" name="SITE"/>
    <meta content="Counseling and Psychological Services (CAPS)" name="PAGETITLE"/>
    <meta content="CAPS provides confidential counseling to registered UC San Diego students. CAPS also provides outreach and consultation to the campus community. CAPS is part of the Student Health and Well-Being cluster, which includes Student Health Services (SHS) and Health Promotion (HP)." name="DESCRIPTION"/>
    <meta content="c2533b6b0aaf6b3a6003b05713b6a5cb" name="id"/>

<body>
  <div class = "contact">
    <img src = "images/contacts-page.png"> </img>
  </div>


</body>

</html>