<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="en-US">
	<head>
		



    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="initial-scale=1.0" name="viewport"/>
    <meta content="7MiYjX2ZghMOWvtKRWlar--c6mD2ose5EcbQFQ6szFA" name="google-site-verification"/>
    
    <title>Counseling and Psychological Services (CAPS)</title>
    <meta content="University of California, San Diego" name="ORGANIZATION"/>
    <meta content="index,follow,noarchive" name="robots"/>
    <meta content="CAPS" name="SITE"/>
    <meta content="Counseling and Psychological Services (CAPS)" name="PAGETITLE"/>
    <meta content="CAPS provides confidential counseling to registered UC San Diego students. CAPS also provides outreach and consultation to the campus community. CAPS is part of the Student Health and Well-Being cluster, which includes Student Health Services (SHS) and Health Promotion (HP)." name="DESCRIPTION"/>
    <meta content="c2533b6b0aaf6b3a6003b05713b6a5cb" name="id"/>



    

		








 




<link href="//cdn.ucsd.edu/cms/decorator-5/styles/bootstrap.min.css" rel="stylesheet"/>
<link href="//cdn.ucsd.edu/cms/decorator-5/styles/base.min.css" rel="stylesheet"/>


        
        
        <link href="//cdn.ucsd.edu/cms/decorator-5/styles/homepage.css" rel="stylesheet"/>
        
    
    



<!-- Site-specific CSS files -->
    
    
        
                
                            
<!-- Other CSS files -->
<!--[if lt IE 9]>
<link rel="stylesheet" href="https://cdn.ucsd.edu/cms/decorator-5/styles/ie-support.css" />
<![endif]-->

<!-- Other JS files -->


<script src="https://cdn.ucsd.edu/cms/decorator-5/scripts/modernizr.min.js"></script>


        
    
    


<!-- Site-specific javascript files -->


    

<!--[if lt IE 9]>
<script src="https://cdn.ucsd.edu/cms/decorator-5/scripts/respond.min.js"></script>
<link href="https://cdn.ucsd.edu/cms/decorator-5/scripts/cross-domain/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
<link href="/_resources/cross-domain/respond.proxy.gif" id="respond-redirect" rel="respond-redirect" />
<script src="/_resources/cross-domain/respond.proxy.js"></script>
<![endif]-->


	</head>
	<body>
		<header class="layout-header">
			<a class="sr-only skip-to-main" href="#main-content" tabindex="1">Skip to main content</a>
			<div id="uc-emergency"></div>
			<!-- title section -->
				  <img src = "images/header.svg"  href="/">
            
          </img>
		</header>

    

<div class="navmenu navmenu-default navmenu-fixed-left offcanvas" style="">
		





<ul class="nav navbar-nav navbar-right">
		    <li>
			    <div class="search">
		            <button aria-label="search" class="search-toggle btn-default">
		                <span class="glyphicon glyphicon-search"></span> <span class="caret"></span>
		            </button>

		            <div class="search-content" id="search">

                        <form action="/search/index.html" id="cse-search-box" method="get">
                            <label for="search-scope" style="display:none;">Search</label>
                            <select class="search-scope" id="search-scope" name="search-scope">
                                                                    <option selected="selected" value="caps">This Site</option>
                                                                <option value="default_collection">All UCSD Sites</option>
                                <option value="faculty-staff">Faculty/Staff</option>
                            </select>
                        
                            <div class="input-group">
                                <label for="q" id="search-term-label" style="display:none;">Search Term</label>
                                <input autofocus="autofocus" class="form-control search-term" id="q" name="search-term" placeholder="Search..." type="search"/>
                            </div>
                            <input class="sr-only" type="submit" value="Submit"/>
                        </form>

                    </div>
        </div>
    </li>
</ul>


<ul class="nav navmenu-nav">
        <li class="dropdown open "><a href="https://caps.ucsd.edu/about/index.html">About <span class="caret"></span></a>
          
          <ul class="dropdown-menu navmenu-nav">
            <li><a href="https://caps.ucsd.edu/about/index.html">About CAPS</a></li>
            <li><a href="https://caps.ucsd.edu/about/mission.html">Our Mission</a></li>
            <li><a href="https://caps.ucsd.edu/about/diversity.html">Equity, Diversity, and Inclusion</a></li>
            <li><a href="https://caps.ucsd.edu/about/staff.html">CAPS Staff</a></li>
            <li><a href="https://caps.ucsd.edu/about/locations.htmll">Hours &amp; Locations</a></li>
            <li><a href="https://caps.ucsd.edu/about/contact.html">Contact Us</a></li>
          
          </ul>
          
        </li>
        
        <li class="dropdown open "><a href="https://caps.ucsd.edu/make-appointment/index.html">Appointments <span class="caret"></span> </a>
          <ul class="dropdown-menu navmenu-nav">
            <li><a href="https://caps.ucsd.edu/make-appointment/index.html">Getting Started</a></li>
            <li><a href="https://MyStudentChart.ucsd.edu">View/Cancel Your Appointment</a></li>
            <li><a href="https://MyStudentChart.ucsd.edu">Secure Message Your Provider</a></li>
            <li><a href="https://caps.ucsd.edu/about/locations.html">Appointment Locations</a></li>
            <li><a href="https://caps.ucsd.edu/about/staff.html">CAPS Providers</a></li>
          </ul>
        </li>
                                
                                                                                          

        <li class="dropdown open "><a href="https://caps.ucsd.edu/services/index.html">Services <span class="caret"></span></a>
          <ul class="dropdown-menu navmenu-nav">
            <li><a href="https://caps.ucsd.edu/services/counseling.html">Counseling &amp; Psychiatry</a></li>
            <li><a href="https://caps.ucsd.edu/services/crisis.html">Crisis / Urgent Care</a></li>
            <li><a href="https://caps.ucsd.edu/services/video.html">Video and Tele-Visits</a></li>
            <li><a href="https://caps.ucsd.edu/services/dropin.html">Daily Drop-In Workshops</a></li>
            <li><a href="https://caps.ucsd.edu/services/groups.html">Groups, Workshops &amp; Forums</a></li>
            <li><a href="https://caps.ucsd.edu/services/letstalk.html">Let's Talk Programs</a></li>
            <li><a href="https://caps.ucsd.edu/services/referral.html">Referral Services</a></li>
            <li><a href="https://caps.ucsd.edu/services/outreach.html">Outreach &amp; Consultation</a></li>
            <li><a href="https://caps.ucsd.edu/services/request.html">Request a Presentation</a></li>
            <li><a href="https://caps.ucsd.edu/services/grad.html">Graduate and Professional Students</a></li>
            <li><a href="https://caps.ucsd.edu/programs/athletics.html">Scholar Athletes</a></li>
            <li><a href="https://caps.ucsd.edu/services/international.html">Students Residing Internationally</a></li>
          </ul>
        </li>


        <li class="dropdown open "><a href="https://caps.ucsd.edu/resources/index.html">Resources <span class="caret"></span></a>
          <ul class="dropdown-menu navmenu-nav">
            <li><a href="https://caps.ucsd.edu/resources/download.html">Forms, Handouts &amp; Flyers</a></li>
            <li><a href="https://screening.mentalhealthscreening.org/sandiego">Online Mental Health Screening</a></li>
            <li><a href="https://caps.ucsd.edu/resources/iflourish.html">iFlourish Self-Help Resources</a></li>
            <li><a href="https://caps.ucsd.edu/resources/helpcenter.html">CAPS HelpCenter</a></li>
            <li><a href="https://blink.ucsd.edu/instructors/advising/concern/index.html">Triton Concern Line</a></li>
          </ul>
        </li>        
                                                                                                                                                                                    
                
        <li class=""><a href="/ContactUs">Contact</a></li>
        <li class="dropdown open "><a href="https://caps.ucsd.edu/feedback/index.html">Feedback <span class="caret"></span></a>
        <ul class="dropdown-menu navmenu-nav">
          <li><a href="https://caps.ucsd.edu/feedback/patient-feedback.html">CAPS Feedback</a></li>
          <li><a href="https://caps.ucsd.edu/feedback/sexual-misconduct.html">Report Sexual Misconduct</a></li>
          <li><a href="https://caps.ucsd.edu/feedback/survey.html">Program Evaluation Survey</a></li>
        </ul>
        </li>
        
        <li class=""><a href="https://MyStudentChart.ucsd.edu">MyStudentChart</a>
        <li class="dropdown open "><a href="https://studentwellbeing.ucsd.edu/">SHW Sites <span class="caret"></span>/a>
          <ul class="dropdown-menu navmenu-nav">
            <li><a href="https://studenthealth.ucsd.edu/">Student Health Services</a></li>
            <li><a href="https://caps.ucsd.edu/">Counseling and Psychological Services</a></li>
            <li><a href="https://shwadmin.ucsd.edu">Student Health &amp; Wellbeing Administration</a></li>
            <li><a href="https://healthpromotion.ucsd.edu/">Health Promotion Services</a></li>
            </ul>
            </li>
          
          
  </ul>

		</div>
		
		<nav class="navbar navbar-default navbar-static-top" style = "position: relative; right: 75px;">
			<div class="container">
			    
                <div class="navbar-header">
        			<button aria-controls="navbar" aria-expanded="false" class="navbar-toggle" data-canvas="body" data-target=".navmenu" data-toggle="offcanvas" type="button">
          			    <span class="sr-only">Toggle navigation</span>
    
          					<div class="col-sm-1 mobile-nav-bars">
          				    <span class="icon-bar"></span>
          				    <span class="icon-bar"></span>
          				    <span class="icon-bar"></span>
             				</div>
              			<div class="col-sm-1 mobile-nav-icon">
                          MENU
          			    </div>
          			    
                    </button>
                    
                    <div class="col-sm-4 pull-right visible-xs-block">
                        <img alt="" class="img-responsive header-logo" src="https://cdn.ucsd.edu/cms/decorator-5/styles/img/ucsd-footer-logo-white.png"/>
                    </div>
                    
                </div>
                
                <div class="navbar-collapse collapse" id="navbar">
			    
    	            








<ul class="nav navbar-nav">            
  <li class="dropdown "><a aria-expanded="false" class="dropdown-toggle" data-close-others="true" data-hover="dropdown" href="https://caps.ucsd.edu/about/index.html">About <span class="caret"></span>          </a>
  <ul class="dropdown-menu"> <img src="images/about.svg" usemap="#image-map">
<!-- Image Map Generated by http://www.image-map.net/ -->
<map name="image-map">
    <area target="_blank" alt="" title="" href="https://caps.ucsd.edu/about/about.html" coords="440,32,531,49" shape="rect">
    <area target="" alt="" title="" href="https://caps.ucsd.edu/about/mission.html" coords="442,71,527,92" shape="rect">
    <area target="" alt="" title="" href="https://caps.ucsd.edu/about/staff.html" coords="442,116,522,133" shape="rect">
    <area target="" alt="" title="" href="https://caps.ucsd.edu/about/locations.html" coords="694,29,825,50" shape="rect">
    <area target="" alt="" title="" href="https://www.figma.com/proto/AWm8C3VJKVICAtJlVuuasF/CAPS-Redesign?page-id=270%3A73&amp;amp;node-id=292%3A26&amp;amp;viewport=-573%2C947%2C0.5601005554199219&amp;amp;scaling=min-zoom" coords="693,70,777,93" shape="rect">
</map>
  </ul>
  </li>
     
  <li class="dropdown "><a aria-expanded="false" class="dropdown-toggle" data-close-others="true" data-hover="dropdown" href="https://caps.ucsd.edu/make-appointment/index.html">Appointments <span class="caret"></span>          </a>
    <ul class="dropdown-menu"> <img src="images/appointmentsTAB.svg" usemap="#image-map">
      <!-- Image Map Generated by http://www.image-map.net/ -->
<map name="image-map">
    <area target="_blank" alt="Make an Appointment" title="Make an Appointment" href="https://caps.ucsd.edu/make-appointment/index.html" coords="716,46,960,83" shape="rect">
    <area target="_blank" alt="View/Cancel" title="View/Cancel" href="https://mystudentchart.ucsd.edu/" coords="714,118,1059,145" shape="rect">
    <area target="_blank" alt="Secure Message" title="Secure Message" href="https://mystudentchart.ucsd.edu/" coords="720,176,1050,216" shape="rect">
    <area target="_blank" alt="Find a Provider" title="Find a Provider" href="https://caps.ucsd.edu/about/staff.html" coords="1128,114,1301,149" shape="rect">
</map>
    </ul>
   </li>
   
  <li class="dropdown "><a aria-expanded="false" class="dropdown-toggle" data-close-others="true" data-hover="dropdown" href="https://caps.ucsd.edu/services/index.html">Services <span class="caret"></span>          </a>
    <ul class="dropdown-menu"> <img src = "images/Services.svg">
    </ul>
  </li>
                                
                                                                                          
  
  <li class="dropdown "><a aria-expanded="false" class="dropdown-toggle" data-close-others="true" data-hover="dropdown" href="https://caps.ucsd.edu/resources/index.html">Resources <span class="caret"></span>          </a>
    <ul class="dropdown-menu"> <img src = "images/Resources.svg">
    </ul>
  </li>
  
  
  <li class=""><a href="/ContactUs">Contact</a>
  <li class="dropdown "><a aria-expanded="false" class="dropdown-toggle" data-close-others="true" data-hover="dropdown" href="https://caps.ucsd.edu/feedback/index.html">Feedback <span class="caret"></span>          </a>
    <ul class="dropdown-menu"> <img src = "images/Feedback.svg">
    </ul>
  </li>
                                
                                                                                                                                                                                    
  <li class=""><a href="https://MyStudentChart.ucsd.edu">MyStudentChart</a>
  <li class="dropdown "><a aria-expanded="false" class="dropdown-toggle" data-close-others="true" data-hover="dropdown" href="https://studentwellbeing.ucsd.edu/">SHW Sites <span class="caret"></span>          </a>
  <ul class="dropdown-menu"> <img src = "images/SHW-Sites.svg">
  </ul>
  </li>
         
         
         
  </ul>
  
  
  <div class="btn-nav"></div>
  
  
  <ul class="nav navbar-nav navbar-right">
		    <li>
			    <div class="search">
		            <button aria-label="search" class="search-toggle btn-default">
		                <span class="glyphicon glyphicon-search"></span> <span class="caret"></span>
		            </button>

		            <div class="search-content" id="search">

                        <form action="/search/index.html" id="cse-search-box" method="get">
                            <label for="search-scope" style="display:none;">Search</label>
                            <select class="search-scope" id="search-scope" name="search-scope">
                                                                    <option selected="selected" value="caps">This Site</option>
                                                                <option value="default_collection">All UCSD Sites</option>
                                <option value="faculty-staff">Faculty/Staff</option>
                            </select>
                        
                            <div class="input-group">
                                <label for="q" id="search-term-label" style="display:none;">Search Term</label>
                                <input autofocus="autofocus" class="form-control search-term" id="q" name="search-term" placeholder="Search..." type="search"/>
                            </div>
                            <input class="sr-only" type="submit" value="Submit"/>
                        </form>

                    </div>
        </div>
    </li>
</ul>



				
				</div><!--end nav collapse -->

		</div>
		</nav>
		<main class="layout-main" id="main-content">
		   


<div class="carousel slide jumbotron jumbotron-hero hm" data-ride="carousel" id="heroslider">
    
                
                
            
                
            
                
        
    
    
    <div aria-label="Revolving Banners" class="carousel-inner" role="listbox" tabindex="0">
    
                <ol class="carousel-indicators" tabindex="0">
                        <li aria-label="Revolving Banner Item 0" class="active" data-slide-to="0" data-target="#heroslider" tabindex="0"></li>
                        <li aria-label="Revolving Banner Item 1" class="" data-slide-to="1" data-target="#heroslider" tabindex="0"></li>
                        <li aria-label="Revolving Banner Item 2" class="" data-slide-to="2" data-target="#heroslider" tabindex="0"></li>
                        <button aria-label="Carousel Pause" id="toggleCarousel" tabindex="0"><span aria-hidden="true" class="glyphicon glyphicon-pause"></span></button>
        </ol>
                    
                        <div class="item active ">
            
                            <img alt="" class="first-slide" src="images/hero-may.jpg" tabindex="0"/>
                        
            <div class="container">
                <div class="cr-item-container">
        			<div class="row">
        				<div class="col-sm-12">
        					<div class="text-indent text-indent-h1 animated fadeInUp">
        						<h1 class="rt-text-light " tabindex="0">Join us in May </h1>
        						<p class="rt-text-light " tabindex="0">May is Mental Health Awareness Month! Student Health &amp; Well-Being will be offering special events and programs all month. See all that May has to offer!</p>        						<a class="btn btn-lg btn-default  " data-h1="" data-module="hero-homepage" href="programs/may.html" role="button" tabindex="0">MAY IS MH MONTH EVENTS</a>        					</div>
        				</div>
        			</div>
    		      </div>
        		</div>
             </div>
                             
                                
                    
                
                
                
                        
        
                    
                
                
                
                    
                    
                        <div class="item ">
            
                            <img alt="" class="first-slide" src="images/Rectangle3.svg" tabindex="0"/>
                        
            <div class="container">
                <div class="cr-item-container">
        			<div class="row">
        				<div class="col-sm-12">
        					<div class="text-indent text-indent-h1 animated fadeInUp">
        						<h1 class="rt-text-light " tabindex="0">CAPS is here for you </h1>
        						<p class="rt-text-light " tabindex="0">Our mission is to promote student mental health and well-being through counseling, outreach, and consultation to UC San Diego students.</p>        						<a class="btn btn-lg btn-default  " data-h1="" data-module="hero-homepage" href="make-appointment/appointments.html" role="button" tabindex="0">Getting Started</a>        					</div>
        				</div>
        			</div>
    		      </div>
        		</div>
             </div>
                             
                                
                    
                
                
                
                        
        
                    
                
                
                
                    
                    
                        <div class="item ">
            
                            <img alt="" class="first-slide" src="images/hero-flourish.png" tabindex="0"/>
                        
            <div class="container">
                <div class="cr-item-container">
        			<div class="row">
        				<div class="col-sm-12">
        					<div class="text-indent text-indent-h1 animated fadeInUp">
        						<h1 class="rt-text-light " tabindex="0">Flourish with us </h1>
        						<p class="rt-text-light " tabindex="0">Increase your well-being with our Flourishing Programs</p>        						<a class="btn btn-lg btn-default  " data-h1="" data-module="hero-homepage" href="programs/flourish.html" role="button" tabindex="0">OUR FLOURISHING PROGRAMS</a>        					</div>
        				</div>
        			</div>
    		      </div>
        		</div>
             </div>
                             
    </div>
    
            <a aria-label="previous slide" class="left carousel-control" data-slide="prev" href="#heroslider" role="button">
      <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a aria-label="next slide" class="right carousel-control" data-slide="next" href="#heroslider" role="button">
      <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
        
</div>
			<div class="layout-container row">
				









<!-- display the main content -->
                        

        
    

               
       
      
                                      
                                                                
                
        
<!--                                                
                         
            <div class="jumbotron jumbotron-callout-image-small-inset" style="background-image: url(_images/homepage/ctai-capslogo-ocean1.png);">
              <div class="container">
                <div class="row">
                  <div class="col-md-7 col-md-offset-5">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <h2>CAPS IS OPEN!</h2>
                        <p class="panel-text">CAPS provides counseling, workshops, and community forums for UC San Diego students. We also provide outreach programs and consultation services to the campus community. Contact us at 858-534-3755.</p>
                        <p><a class="btn btn-default" href="services/counseling.html">OUR SERVICES</a></p>                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
-->      

                      
        
        
     <section aria-label="News Section" class="jumbotron jumbotron-gray jumbotron-news">
          <div class="container">
            <div class="row">
              <div class="col-xs-8">
                <h2>OUR SERVICES AT A GLANCE  </h2>
              </div>
              <div class="col-xs-4 view-all-link text-right">
                              </div>
            </div>
                            

        
    

               
       
      
                                      
                                                        
                        
                        
            
                    
                    
                        
                        
                    
                        
                        
                            
                        
                    
                        
                        
                            
                        
                    
        
        

                <div class="row">
        
                                                        
                  <div class="col-xs-3">
                    <div class="panel panel-primary">
                      <div class="cta-two-three panel-body panel-body">
                          
                        <h3>APPOINTMENTS</h3>
                          <p class="panel-text">Call 858-534-3755 to schedule an appointment. You can view/cancel your appointments in MyStudentChart.</p>
                          <p class="text-left">
                          <a href="make-appointment/appointments.html" class="btn btn-primary">Learn More</a>
                          </p>
                        </div>
                    </div>
                  </div>
                                                          
                  <div class="col-xs-3">
                    <div class="panel panel-primary">
                      <div class="cta-two-three panel-body panel-body">
                          
                                                <h3>URGENT OR CRISIS CARE</h3>
                                                <p class="panel-text">CAPS provides 24/7 urgent or crisis counseling. Call 858-534-3755 (Option 2 outside business hours) to speak with a counselor.</p>
                                                <p class="text-left">
                                                <a href="about/contact.html" class="btn btn-primary">Learn More</a>
                        </p>
                      </div>
                    </div>
                  </div>
                                                          
                  <div class="col-xs-3">
                    <div class="panel panel-primary">
                      <div class="cta-two-three panel-body panel-body">
                          
                                                <h3>GROUPS, WORKSHOPS &amp; COMMUNITY FORUMS</h3>
                                                <p class="panel-text">CAPS offers a large selection of psychotherapy group, workshops, and community open forums.</p>
                                                <p class="text-left">
                                                <a href="services/groups.html" class="btn btn-primary">Learn More</a>
                        </p>
                      </div>
                    </div>
                  </div>


                  <div class="col-xs-3">
                    <div class="panel panel-primary">
                      <div class="cta-two-three panel-body panel-body">
                          
                                                <h3>DAILY DROP-IN WORKSHOPS</h3>
                                                <p class="panel-text">Stop by CAPS for your daily dose of wellbeing. All DDWs are open to all students, no appointments necessary!  Currently offering DDW’s via Zoom!  </p>
                                                <p class="text-right">
                                                <a href="https://caps.ucsd.edu/services/dropin.html" class="btn btn-primary">Learn More</a>
                        </p>
                      </div>
                    </div>
                  </div>
                          
                </div>
              </div>
            </section>

        <section aria-label="News Section" class="jumbotron jumbotron-gray jumbotron-news">
          <div class="container">
            <div class="row">
              <div class="col-xs-8">
                <h2>VIRTUAL Services</h2>
              </div>
              <div class="col-xs-4 view-all-link text-right">
                              </div>
            </div>

             <div class="row">
        
                                                        
                  <div class="col-md-4">
                    <div class="panel panel-primary">
                      <div class="cta-two-three panel-body panel-body">
                                                <img src = "images/mystudentchartimage.svg"> </img>
                                                <p class="panel-text">Video visits for Counseling and Psychiatry services</p>
                                                <p class="text-left">
                          <a href="https://caps.ucsd.edu/services/video.html" class="btn btn-primary">Learn More</a>
                        </p>
                                              </div>
                    </div>
                  </div>
                                                          
                                 <div class="col-md-4">
                    <div class="panel panel-primary">
                      <div class="cta-two-three panel-body panel-body">
                                                <img src = "images/liveHealth.svg"> </img>
                                                <p class="panel-text">Additional telehealth services for UC San Diego students. </p>
                                                <p class="text-left">
                          <a href="https://caps.ucsd.edu/services/video.html" class="btn btn-primary">Learn More</a>
                        </p>
                                              </div>
                    </div>
                  </div>
                                                          
                                                                   <div class="col-md-4">
                    <div class="panel panel-primary">
                      <div class="cta-two-three panel-body panel-body">
                                                <img src = "images/mySSP.svg"> </img>
                                                <p class="panel-text">Virtual services for UC San Diego students residing internationally. </p>
                                                <p class="text-left">
                          <a href="https://caps.ucsd.edu/services/video.html" class="btn btn-primary">Learn More</a>
                        </p>
                                              </div>
                    </div>
                  </div>
                  </div>
  


     <section aria-label="News Section" class="jumbotron jumbotron-gray jumbotron-news">
          <div class="container">
            <div class="row">
              <div class="col-xs-8">
                <h2>additional resources</h2>
              </div>
              <div class="col-xs-4 view-all-link text-right">
                              </div>
            </div>

             <div class="row">
        
                                                        
                  <div class="col-md-4">
                    <div class="panel panel-primary">
                      <div class="cta-two-three panel-body panel-body">
                                                <img src = "images/calender.svg"> </img>
                                                <p class="panel-text">See what’s happening at CAPS this week and quarter. </p>
                                                <p class="text-left">
                          <a href="https://caps.ucsd.edu/services/video.html" class="btn btn-primary">Learn More</a>
                        </p>
                                              </div>
                    </div>
                  </div>
                                                          
                                 <div class="col-md-4">
                    <div class="panel panel-primary">
                      <div class="cta-two-three panel-body panel-body">
                                                <img src = "images/caps4gaps.svg"> </img>
                                                <p class="panel-text">Resources for graduate and professional students. </p>
                                                <p class="text-left">
                          <a href="https://caps.ucsd.edu/services/grad.html" class="btn btn-primary">Learn More</a>
                        </p>
                                              </div>
                    </div>
                  </div>
                                                          
                                                                   <div class="col-md-4">
                    <div class="panel panel-primary">
                      <div class="cta-two-three panel-body panel-body">
                                                <img src = "images/iflourish.svg"> </img>
                                                <p class="panel-text">Free self-help tech resources. </p>
                                                <p class="text-left">
                          <a href="https://caps.ucsd.edu/resources/iflourish.html" class="btn btn-primary">Learn More</a>
                        </p>
                                              </div>
                    </div>
                  </div>
                  </div>

<div class="cta-two-three panel-body panel-body">
<h4>Handouts</h4>
<ul>
<li><a href="_files/handouts/handout_smhi_stress.pdf" rel="noopener" target="_blank">Stress Less (PDF)</a></li>
<li><a href="_files/handouts/handout_smhi_mood.pdf" rel="noopener" target="_blank">Mood Management (PDF)</a></li>
<li><a href="_files/handouts/handout_smhi_sleep.pdf">Sleep Hygiene&#160;(PDF)</a></li>
<li><a href="_files/handouts/handout_50wellnesstips.pdf" rel="noopener" target="_blank">50 Wellness Tips&#160;(PDF)</a></li>
</ul>
<br/>
<h4>Counseling Forms</h4>
<ul>
<li><a href="_files/forms/tipsheet_videovisit_ucsdstudents.pdf" rel="noopener" target="_blank">CAPS Video Visit Tip Sheet&#160;(PDF)</a></li>
<li><a href="_files/flyers/flyer_capsvirtualservices_2020.pdf" rel="noopener" target="_blank">Virtual Services Information Form&#160;(PDF)</a></li>
<li><a href="_files/forms/form_ROI_UCSD_BLANK_FLAT.pdf" rel="noopener" target="_blank">Release of Information Form (Blank)&#160;(PDF)</a></li>
<li><a href="_files/forms/form_ROI_UCSD_SACMS_FLAT.pdf" rel="noopener" target="_blank">Release of Information Form to Student Affairs&#160;(PDF)</a><a href="_files/handouts/handout_smhi_sleep.pdf"></a></li>
</ul>
</div>
<div class="col-md-6">
<h4>Request a Presentation</h4>
<ul>
<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSetOb1LUd0gJwlFCF_p_GUv5XEGUC9BJbCELdz_rDRzzb0GRA/viewform" rel="noopener" target="_blank">From CAPS</a></li>
<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdQ5lE0KyOcFaYp_bXxLhhF9RcVYJTyhxsG2kz9t6Q4zPTkEQ/viewform" rel="noopener" target="_blank">From Well-being Peer Health Educators</a></li>
<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdVHfx1oUi6-U0soBspIzBAi8Ig08qN4JYfOBL-U78xVjM-iA/viewform" rel="noopener" target="_blank">From Graduate Well-Being Associates </a></li>
</ul>
<br/>
<h4>Student Health &amp; Well-Being Partners</h4>
<ul>
<li><a href="https://mystudentchart.ucsd.edu" rel="noopener" target="_blank">Student Health Services</a></li>
<li><a href="https://healthpromotion.ucsd.edu" rel="noopener" target="_blank">Health Promotion Services</a></li>
<li><a href="https://shwadmin.ucsd.edu" rel="noopener" target="_blank">Insurance and Medical Records <a href="https://mystudentchart.ucsd.edu" rel="noopener" target="_blank"></a></li>
</ul>
</div>
</div>
	              		</div>
	            	</div>
	          	</div>
        	</div>
		</div>
    </section>


                      
        
        
    
                            

        
    

                            <div class="container">
            <div class="row">
<div class="col-md-4">
<div class="col-md-4"><br/><a class="btn styled-blue" href="/ContactUs" style="font-family: Roboto, sans-serif;">Contact Us</a></div>
</div>
<div class="col-md-4">
<div class="col-md-4"><br/><a class="btn styled-blue" href="https://caps.ucsd.edu/about/locations.html" style="font-family: Roboto, sans-serif;">Hours and Locations</a></div>
<em></em></div>
<div class="col-md-4"><br/><a class="btn styled-blue" href="https://caps.ucsd.edu/feedback/patient-feedback.html" style="font-family: Roboto, sans-serif;">Give Feedback</a></div>
</div>
<div style="clear: both;"></div>
<p>&#160;</p>
            </div>
                    
			</div>
		</main>
		<footer class="footer">
			





<div class="container">
    <div class="row">
        <div class="col-sm-8">
        <p>
        <span>UC San Diego 9500 Gilman Dr. La Jolla, CA 92093 (858) 534-2230</span>
        <br/>
        <span>
        Copyright © <span class="footer-copyright-year">2021</span> Regents of the University of California.
        All rights reserved.
        </span>
        </p>
            <ul class="footer-links">
                <li><a href="https://www.ucsd.edu/_about/legal/index.html">Terms &amp; Conditions</a></li>
                <li>
                        <a href="mailto:bgalcik@health.ucsd.edu">Feedback</a>
            </li>
            </ul>
        </div>
        
        <div class="col-sm-4">
            <a href="https://ucsd.edu/"><img alt="Link to UCSD homepage" class="img-responsive footer-logo" src="https://cdn.ucsd.edu/developer/decorator/5.0.2/img/ucsd-footer-logo-white.png"/></a>
        </div>
    </div>
</div>



<script src="https://cdn.ucsd.edu/cms/decorator-5/scripts/jquery.min.js"></script>
<script src="https://cdn.ucsd.edu/cms/decorator-5/scripts/bootstrap.min.js"></script>
<script src="https://www.ucsd.edu/common/_emergency-broadcast/message.js"></script>
<script src="https://cdn.ucsd.edu/cms/decorator-5/scripts/vendor.min.js"></script>
<script src="https://cdn.ucsd.edu/cms/decorator-5/scripts/base.min.js"></script>


        
    


<!-- Site-specific javascript files -->



    
                                
                            
        




<script>
    // very simple to use!
    $(document).ready(function() {
      $('.js-activated').dropdownHover().dropdown();
    });
  </script>

        
    <script src="https://cdn.ucsd.edu/cms/decorator-5/scripts/decorator.js" type="text/javascript"></script>
    
    <script type="text/javascript">
    (function($) {
        $(document).ready(function() {
            initCopyright();
        });
    })(jQuery);
    </script>
            <!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=G-DN58ZBWP3D"></script>
<script>// <![CDATA[
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DN58ZBWP3D');
// ]]></script>
    
		</footer>
	</body>
</html>